*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.link-items{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 122em;
    margin: 0 auto;
    padding: 0 2rem;
}
body::-webkit-scrollbar{
    width: 0.8rem;
}
body::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(68, 68, 110, 0.823);
    background: radial-gradient(#fff,#0000ff,#fff);
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px #fff;
}
body::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(rgb(221, 224, 22),#fff,#0000ff,#fff);

}
body::-webkit-scrollbar-track-piece{
    background: rgb(40, 61, 77);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
    text-decoration: none;
    color:#000;
}


.save-btn{
    background-color: transparent;
    color: rgba(181, 172, 212, 0.83);
    border: 1px solid  rgba(143, 138, 182, 0.5);
    margin-top: 3rem;
    padding: 1rem 5rem ;
    transition: background-color 0.5s,color 0.5s;
    outline: none;
    cursor: pointer;
}
.save-btn:focus,
.save-btn:hover{
    background-color: rgba(143, 138, 182, 0.5);
    color: #000;
    border: 1px solid  rgba(143, 138, 182, 0.3);
}
.save-btn:active{
    background-color: rgba(143, 138, 182, 0.9);
    color: #fff;
}

.loading{
    text-align: center;
    font-size: 2rem;
    color:#fff ;
}
