@import './all.scss';

.collectionDetailWrapper{
    background: linear-gradient(0deg,  rgba(148,187,233,1) 0%, rgb(174, 238, 194) 50%, rgba(148,187,233,1) 100%);
    padding: 3rem 0 18rem 0;
}
.not-registered{
    text-align: center;
    font-size: 2rem;
    border: 1px solid rgb(61, 54, 54);
    color: rgb(73, 53, 53);
    padding: 1rem 0;
}
.numberOfList{
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}
.delete{
    font-size: 1.5rem;
    vertical-align: middle;
    color: red;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    &:hover{
        background-color: red;
        color: #fff;
    }
}
.info{
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(4, 31, 2);
    padding: 0.5rem 0;
    width: 90%;
    margin: 0.5rem auto;

}
.collectionNameHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    border-bottom: 0.5rem solid rgb(8, 27, 53);
}
.collectionNameHeader h1{
    font-size: 3rem;
    font-weight: bold;
}

.collectionNameHeader h2{
    font-size: 2rem;
}

.addNewSubmeter{
    display: flex;
    justify-content: center;
}

.register-submeter{
    background-color: rgba(0, 12, 22, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}
.register-submeter__title{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-left: -0.2rem;
    line-height: 4rem;
    text-align: center;
    border-bottom: 4px solid #fff;
}

.register-submeter__collection{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
}

.add-submeter-btn{
    box-sizing: border-box;
    border:none;
    margin: 3rem 0;
    padding: 1rem 3rem;
    background:rgb(80, 90, 90);
    color: #fff;
    font-weight: 100;
    cursor: pointer;
    transition:box-shadow 0.3s,transform 0.3s;
    outline: none;
    border: 1px solid lightgray;
}
.add-submeter-btn:hover{
    box-shadow: 1px 1px 1px black,
                2px 2px 1px black,
                3px 3px 1px black,
                4px 4px 1px black;
}
.add-submeter-btn:active{
    box-shadow: 1px 1px 1px black;
    transform: translate(3px, 3px);
}


.register-field-row{
    display: flex;
    align-items: center;
}
.meterName{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    outline: none;
    background-color: #808080;
}
.delete-meter{
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #a0a0a0;
    margin: 0.3rem 0 0.3rem 0.3rem;
    cursor: pointer;
}
.delete-meter:hover{
    background-color: #808080;    
    color: red;
}

/////////////////////////////////////////

.submeterListContainer {
    margin-top: 3rem;
}
.submeterListTitle{
    display: flex;
    justify-content: space-evenly;
}

.submeterListContainer ul{
    background-color: rgba(30, 29, 39, 0.5);
    width: 30%;
    min-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
}
.submeterListContainer ul li:not(:first-child ) div {
    font-size: 1.6rem;
    color: #fff;
    border-bottom: 1px solid #909090;
    padding: 1rem 0 1rem 1rem;
}
.submeterListContainer ul li:not(:first-child ):hover div{
    text-decoration: underline;
}

.submeterListContainer ul li:first-child{
    font-size:2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #909090;

}
.submeterItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submeterItem > div{
  cursor: pointer;
  flex: 1;
}
.submeterItem span{
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(102, 88, 88);
    cursor: pointer;
}
.submeterItem span:hover{
    color: red;
    border: 1px solid rgb(190, 78, 78);

}

////////////////////////////////////////////
.viewReadings{
    width: 100%;
    margin: 3rem 0;
    overflow: hidden;
}
.click-here{
position: relative;
width: 90%;
margin: 0 auto;
text-align: center;
border: 1px solid #000;
font-size: 1.6rem;
cursor: pointer;
transition: 0.5s;
padding: 1rem 0;
border-radius: 0.5rem;
z-index: 2;
color: rgb(158, 0, 26);

}
.click-here:hover{
    background-color: rgb(31, 35, 36);
    color: #fff;
}
.submeterListView{
    border: 1px solid #000;
    width: 80%;
    margin: 1rem auto;
    transform: translateY(-174%) scale(0);
    transition: transform 0.5s ease-out;
    border-radius: 0.5rem;
    color: black;
    height: 0rem;
    padding: 1rem;

}
.submeterListView.roll{
    transform: translateY(0%);
    height: 100%;
}
.filterReadings{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.filterReadings input , .filterReadings select{
    padding: 0.5rem 1rem;
    width: 18%;
}
.filterReadings select{
    padding: 0.5rem;
}

.filterReadings span{
    font-size: 1.3rem;
    align-self: center;
}
.submeter-readings{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
}
.submeterNames{
    flex-basis: 15rem;
    overflow: hidden;
    background-color: #fcfcfc;
    padding: 0.5rem ;
}
.submeterNames > div{
    font-size: 1.3rem;
    line-height: 3rem;
}
.submeterNames > div:hover{
    background-color: #e6e3e3;
}   

.submeterNames .text{
    cursor: pointer;
}
.submeterNames .text:hover{
    text-decoration: underline;
}
.submeterReadings{
    background-color: #f0f0f0;
    border-left: 1px solid rgb(71, 64, 64);
    padding: 0.5rem ;
    flex: 1;
}
.submeterNameTitle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;


}
.yearMonthWrapper{
    margin: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

}
.yearMonthWrapper > div{
    font-size: 1.3rem;
    font-weight: 100;
}

.date.title, .readings.title{

    font-weight: 700;
    font-size: 1.5rem;
}
////////////////////////////////////////////
.calculationOfCostAndUnits{
    width: 100%;
    padding: 1rem;
    border: 1px solid lightblue;
    margin: 5rem auto;
}
.calculationOfCostAndUnits h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-bottom: 0.5rem solid rgb(8, 27, 53); 
}

.calculationTable{
    width: 95%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
    max-width: 60rem;


}
.calculationTable.title{
    background-color: rgba(2, 2, 2, 0.701);
    color: rgb(31, 47, 97);
    border-bottom: 2px solid black;
}
.calculationTable.title select,
.calculationTable.title > div:first-child{
    background-color: rgb(2, 2, 2);
    color: rgb(189, 198, 226);
    border-bottom: 2px solid black;
}
.from-to{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    flex-wrap: wrap;
    margin: 0 3rem;
    padding: 0.5rem;
}
.from-to >div:nth-child(2){
    font-size: 1.5rem;
}
.calculationTable .submeterName{
    justify-self: flex-start;
    flex: 1;
    background-color: lightgrey;
    border: 1px solid gray;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
}
.calculationTable .submeterFrom select,
.calculationTable .submeterTo select{
    width: 13rem;
    padding: 0.5rem 1rem;

}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.unit-wrapper{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}
.unit-wrapper input{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0 3rem;
    width: 9rem;
}
////////////////////////////////
.result{
    max-width: 75rem;
    margin: 0 auto;
}
.rowWrapper{
    display: flex;
    justify-content: space-between;
    color: rgb(43, 37, 37);
    font-size: 1.3rem;
}
.rowWrapper:first-child{
    background-color: gray;
    color: #fff;

}
.rowWrapper:last-child{
    background-color:gray;
    color: #fff;
    font-weight: 700;
}
.rowWrapper > div{
    flex-basis: 7rem;
    padding: 0.5rem;

}
.rowWrapper > div:nth-child(1){
    flex-basis: 12rem;
}