@import './all.scss';

footer{
    background-color: #232323;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer div:not(:nth-child(2)){
    font-size: 1.2rem;

}