@import './all.scss';

// Header
.header{
    position: relative;;
    left: 0;
    right: 0;
    height: 100px;
    background-image: linear-gradient(rgba(23, 165, 212, 0.9) ,rgba(23, 165, 212, 0.8) );
    background-image: linear-gradient(to bottom,rgba(23, 165, 212, 0.9) ,rgba(23, 165, 212, 0.9)),url('https://etimg.etb2bimg.com/photo/68902785.cms');
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;  
    background-blend-mode:  difference;
    z-index: 1;
    margin-bottom:calc(200vh - 100px);
}

.logo{
    position: relative;
    margin: 0 auto;
    background-color: red;
    width: 23rem;
}
.word{
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
}
.first-word{
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    margin-right: -1rem;
    font-weight: 900;
}
.second-word{
    font-size: 4rem;
    line-height: 5rem;
    padding-top: 4.5rem;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    font-weight: 300;
}

.bodyWrapper{
    position: relative;
    // top:-15vh;
}

// Hero
.hero{
    background: linear-gradient(to bottom,transparent,rgba(26, 122, 69, 0.796)),url('../images/beach-boat.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40vh;
}
.sub-headline{
    font-size: 4rem;
    color: rgba(255,255,255,0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    margin-right: -0.2rem;
    color: rgba(159, 240, 160, 0.878);
}
.sub-headline span{
    font-size: 7rem;
    font-weight: bold;
    color: rgb(192, 255, 196);
    line-height: 0.1rem;
}
.logo-headline{
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    color: #fff;
    font-weight: 100;
}

.main-headline{
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 90%;
    color: rgba(255,255,255,0.9);
    letter-spacing: 0.05rem;
    margin-right: -0.05rem;

}
.btn{
    color: #cfcfcf;
    font-size: 2rem;
    text-align: center;
    width: 11rem;
    margin: 0 auto;
}
.btn-explore a{
    color: #fff;

}
.btn-explore{
    background-color: rgba(60, 143, 60, 0.789);
    border: 1px solid rgba(255,255,255,0.5);
}
.btn-explore:hover,
.btn-explore:focus{
    background-color: rgba(55, 172, 55, 0.789);
    color: rgb(16, 49, 16);
    border: 1px solid rgb(16, 49, 16,0.5);

}
.separator{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.asterisk{
    font-size: 3rem;
    color:#fff;
    margin: 0 .5rem;
}
.line{
    width: 100%;
    max-width: 12.8rem;
    height: 0.25rem;
    background-color: #fff;
    position: relative;
}
.firstline::before,
.secondline::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border:0.6rem solid transparent;
}
.firstline::before{
    border-left-color: #fff;
}
.secondline::before{
    border-right-color: #fff;
    right: 0;
}


.start-explore{
    position: absolute;
    top: 0;
    background-color: rgba(136, 221, 226, 0.537);
    // background: linear-gradient(to right,rgba(7, 53, 7, 0.5),rgba(7, 53, 7, 0.5)),url('https://setopati.net/wp-content/uploads/2018/12/electricity.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transform: scale(0);
    opacity: 0;
}

.loginFromLand{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-right: -0.3rem;
    color: #fff;
}
.loginFromLand a{
    color: #fff;
    font-size: 2.5rem;
    text-decoration: underline;
    border: 1px solid transparent;
    padding: 1rem;
    transition: 0.6s;

}
.loginFromLand a:hover{
    color: #fffaaa;
    border: 1px solid #fffaaa;
    padding: 1rem;
    text-decoration: none;
}

// //////////////////////////////////////////////////
.simple-calculation{
    background-color: red;
    position: absolute;
    top: 100vh;
    width: 100%;
}