:focus::placeholder{
    opacity: 0;
}
.meter-readings-and-calculation{
    color: #fff;
    position: relative;
} 
// Meter readings and table------------------------------
.meter-readings{
    background-color: rgba(82, 82, 88, 0.544);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    box-sizing: border-box;
    width: 100%;
}
.meter-readings h1{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    border-bottom: 4px solid #fff;
    font-weight: 500;
    text-transform: uppercase;

}
.meter-readings p{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 0 1rem ;

}
.meter-readings table{
    border: 1px solid black;
    border-collapse: collapse;
    width:75%;
    margin: 0 auto;

   
}
.meter-readings table th,td{
    text-align:center;
}
.meter-readings thead th{
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(34, 10, 131);
}
.meter-readings tbody td{
    background-color: rgb(123, 132, 158);
    color:#000;
    font-size: 1.2rem;
    vertical-align: middle;
    border-bottom: 1px dotted #474343;
    text-transform: uppercase;
    height: 3rem;
    width: 10rem;
    padding-left: 0.3rem;
}
.meter-readings tbody input{
    width: 100%;
    height: 90%;
    border: none;
    background-color: pink;
    font-size: 1.5rem;
    padding-left: 1rem;
    color: #f3f3f3;
    text-align: center;
}
.meter-readings tbody input.previous {
    background-color: rgba(43, 58, 219, 0.361);
}

.meter-readings tbody input.current {
    background-color: rgba(43, 58, 219, 0.286);
}
.meter-readings tbody input::placeholder{
    color: rgb(58, 49, 49);
    transition: opacity 0.5s;

}
.meter-readings tbody input:focus{
    color: #000;
    background-color: #fff;
}

.save-readings-btn{
    width: 35%;
    margin: 3rem auto 0;
}

// Meter unit and cost calculation-----------------------------------------------
.meter-calculation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 29, 39, 0.32);
    padding: 5rem 3rem;
    margin-top: 5rem;
}
.meter-calculation h1{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    border-bottom: 4px solid #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.meter-unit-price{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}
.meter-unit-price input{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border:0.5px double transparent;
    border-bottom: 0.5px solid #fff;
    background-color:transparent;
    outline: none;
    color: #fff;
    width: 15rem;
    transition: border 0.5s;
}
.meter-unit-price input:focus{
    border:  0.5px solid #fff;
}
.meter-unit-price input::placeholder{
    color: rgb(110, 110, 136);
    transition: opacity 0.5s;
}
.default-unit-price{
    font-size: 2rem;
    vertical-align: middle;
    color: rgb(184, 52, 52);
}
.each-meter-calculation{
    background-color: rgba(30, 29, 39, 0.714);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90%;

}
.each-meter-calculation-row{
    width: 100%;
    border-bottom: 1px solid white;
    padding: 1rem 2rem ;
    display: flex;
    justify-content: space-between;
}
    .each-meter-calculation-row:nth-child(2n+1){
        background-color: rgba(59, 59, 90,0.3);
        color: lightskyblue;
    }
    .each-meter-calculation-row:nth-child(2n){
        background-color: rgba(41, 59, 77,0.3);
        color: lightsteelblue;
    }
    .each-meter-calculation-row:first-child{
        background-color: rgb(29, 52, 83);
        color: #fff;
    }


.each-meter-calculation .meter-name{
    text-transform: uppercase;
    text-align: left;
    flex: 2 10rem;
}
.each-meter-calculation .meter-units{
    padding-left: 3rem; 
    flex: 1 10rem;

}
.each-meter-calculation .meter-cost{
    padding-left: 2rem; 
    flex: 1 10rem;

}
.each-meter-calculation-row.total{
    background-color: rgb(97, 129, 148);
    color: rgb(247, 243, 243);
    text-align: left;
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: 1px;
    margin-right: -1px;
    font-size: 1.6rem;
}
// Divide Meter Calculation-----------------------------------------------------

.divide-status-checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 82, 88, 0.544);
    padding: 5rem 3rem;
    margin-top: 5rem;
}

.divide-status-checkbox h1{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    border-bottom: 4px solid #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.divide-status-checkbox p{
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    font-weight: 100;
}
.checkbox-input{
    display: none;
}
.checkbox-box{
    cursor: pointer;
    padding: 1.5rem 3rem;
    background-color:green ;
    border: 1px solid #fff;
    position: relative;
    top: 1rem;
    border-radius: 5rem;
    transition: background-color 0.3s;
    top: 3rem;
}
.checkbox-box::before{
    position: absolute;
    content: 'Enable Division';
    top: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.4rem 0;
}

.checkbox-input:checked + .checkbox-box{
    background-color: rgb(202, 95, 95);
}
.checkbox-input:checked + .checkbox-box::before{
    content: 'Disable Division';
    font-weight: 800;

}


.divided-meter-calculation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 82, 88, 0.544);
    padding: 5rem 3rem;
    margin-top: 5rem;
}
.divided-meter-calculation h1{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.number-of-user{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}
.number-of-user input{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border:0.5px double transparent;
    border-bottom: 0.5px solid #fff;
    background-color:transparent;
    outline: none;
    color: #fff;
    width: 15rem;
    transition: border 0.5s;
}
.number-of-user input:focus{
    border:  0.5px solid #fff;
}
.number-of-user input::placeholder{
    color: rgb(124, 124, 146);
    transition: opacity 0.5s;
}

.save-btn:disabled,
.save-btn:disabled:hover{
    background-color: rgb(143, 124, 124);
    color: rgb(66, 58, 59);
    cursor: crosshair;
}
.db-btn{
    position: relative;
    margin: 10rem 0 ;
}

.saveToDB{
    background: none;
    color: #fff;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    border: 1px solid #8f7d7d;
    color: rgb(134, 140, 177);
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}
.saveToDB:hover{
    background-color: #7d808f;
    color: #2e2b3b;
}