.register-component{
    position: relative;
    top: 10%;
    transform: scale(-1);
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
}
.register-component h1{
    font-size: 3.5rem;
    letter-spacing: 0.8rem;
}
.arrow{
    cursor: pointer;
    font-size: 3rem;
}
.arrow:hover{
    font-size: 3rem;
    color: rgba(64, 48, 117, 0.864);
}
.not-registered{
    text-align: center;
    font-size: 2rem;
    border: 1px solid rgb(61, 54, 54);
    color: rgb(73, 53, 53);
    padding: 1rem 0;
}