@import './all.scss';

.register-meter-wrapper{
    background-color: rgba(14, 80, 121, 0.551);
    background: radial-gradient(circle farthest-corner at top ,rgba(10,15,20,0.6) 40%,rgb(10, 5, 41) ),url('../images/beach-boat.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.buttonWrapper{
    display: flex;
    justify-content: center;
}
.addNewMeterCollectionBtn{
    padding: 1rem;
    color: #fff;
    border: 5px solid rgba(14, 80, 121, 1);
    border-radius:0.5rem;
    background-color: rgba(14, 80, 121, 0.551);
    transition: 0.3s;
    cursor: pointer;
    outline: none;
    margin: 3rem 0;
}
.addNewMeterCollectionBtn:hover{
    background-color: rgba(14, 80, 121, 1);
}
.addNewMeterCollectionBtn:active{
    background-color: rgba(20, 100, 130, 1);
}



/////////////////////////////////////////////////////////

.register-meter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 29, 39, 0.32);
    padding: 3rem 5rem;
    border-top: 3rem;
}
.register-meter__title{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-left: -0.2rem;
    line-height: 4rem;
    text-align: center;
    border-bottom: 4px solid #fff;
}
.register-meter__title2{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-left: -0.2rem;
    line-height: 4rem;
    text-align: center;
    border-bottom: 2px solid #fff;
    margin-top: 4rem;
}
.description{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-left: -0.2rem;
    line-height: 4rem;
    text-align: center;
}
.register-meter__info{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    text-align: center;
}
.register-meter__collection{
    margin-top: 4rem;
    // border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding:5rem 2rem;
    width: 100%;
}

.meter-collection-name{
    background-color: rgb(183, 185, 189);
    color: rgba(19, 38, 58, 0.912);
    border: 1px solid black;
    padding: 1rem 3rem;
    position: absolute;
    top: -2rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: center;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    transition: 0.3s;
    width: 60%;
}

.meter-collection-name:hover{
    background-color: gray;
    color: darkslategray;
}
.meter-collection-name:focus{
    background-color:#fff;
    color: #000;
  
}

//////////////////////////////////////////

.meterCollectionList {
    margin-top: 3rem;
}
.meterCollectionList ul{
    background-color: rgba(30, 29, 39, 0.5);
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
}
.meterCollectionList ul li:not(:first-child ) div {
    font-size: 1.6rem;
    color: #fff;
    border-bottom: 1px solid #909090;
    padding: 1rem 0 1rem 1rem;
}
.meterCollectionList ul li:not(:first-child ):hover div{
    text-decoration: underline;
}

.meterCollectionList ul li:first-child{
    font-size:2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #909090;

}
.collectionItem{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collectionItem a{
    width: 100%;
    
}
.collectionItem a:hover{
    width: 100%;
}
.collectionItem span{
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
}
.collectionItem span:hover{
    color: red;
}

.not-register{
    text-align: center;
    font-size: 2rem;
    border: 1px solid rgb(114, 107, 107);
    color: rgb(219, 183, 183);
    padding: 1rem 0;
    margin: 3rem 0;
}

.info2{
    border: 1px solid rgb(177, 157, 157);
    text-align: center;
    font-size: 1.5rem;
    color: rgb(167, 212, 164);
    padding: 0.5rem 0;
    width: 90%;
    margin: 0.5rem auto;

}